<div class="container-profile">
    <div class="container-user-info">
        <h2>Account Settings</h2>
        <p><span>Name:</span> {{user.name}}</p>
        <p><span>Last name:</span> {{user.lastName}}</p>
        <p><span>Address:</span> {{user.address}}</p>
        <p><span>Age:</span> {{user.age}}</p>
        <p><span>Phone number:</span> {{user.phoneNumber}}</p>
        <p><span>Email:</span> {{user.email}}</p>
        <p><span>Password:</span> ********</p>
    </div>
    <div class="container-profile-nav">
        <div class="container-profile-nav-avatar">
            <img src="/src/img/interface/userProfile.png" alt="">
        </div>
        <h3>{{user.username}}</h3>
        <div class="container-profile-nav-options">
            <a href="/profile/account" class="enable">Account</a>
            <a href="/profile/purchases">Purchase orders</a>
            {{#if user.isAdmin}}
            <a href="/profile/products?addProd=true">Products</a>
            {{/if}}
            <a href="/profile/settings">Settings</a>
        </div>
        <a href="/api/user/logout" class="btn-primary">Logout</a>
    </div>
</div>