<div class="container-profile">
    <div class="container-user-purchase">
        <h2>Purchase orders</h2>
        {{#if orderID}}
        <h4>Order: {{orderID}}</h4>
        {{#each purchaseOrder}}
        {{> boxes/boxProdPurchase this}}
        {{/each}}
        <div class="box-total-purchase">
            <h4>Total: </h4>
            <div></div>
            <p>${{total}}</p>
        </div>
        {{else}}
        {{#each user.purchaseOrders}}
        <a href="/profile/purchases?orderID={{this.id}}">Order: {{this.id}}</a>
        {{/each}}
        {{/if}}
    </div>
    <div class="container-profile-nav">
        <div class="container-profile-nav-avatar">
            <img src="/src/img/interface/userProfile.png" alt="">
        </div>
        <h3>{{user.username}}</h3>
        <div class="container-profile-nav-options">
            <a href="/profile/account">Account</a>
            <a href="/profile/purchases" class="enable">Purchase orders</a>
            {{#if user.isAdmin}}
            <a href="/profile/products?addProd=true">Products</a>
            {{/if}}
            <a href="/profile/settings">Settings</a>
        </div>
        <a href="/api/user/logout" class="btn-primary">Logout</a>
    </div>
</div>